@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
    --prinary-color: #612674;
}

html {
    font-family: sans-serif;
    font-size: 1.3em;
}

h1,h2,h3,h4 {font-family: "Oxygen", sans-serif;}

.maxWidth {
    max-width: 70.25em;
    margin: auto;
}

.top_header {
    text-align: center;
}

.top_header_nav {
    background-color: var(--prinary-color);
}

.top_header_nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.top_header_nav a {
    color: aliceblue;
    text-decoration: none;
    /*para ocupar todo o espaco*/
    display: block;
    padding: 1em;
}

.top_header_nav li:hover {
    background-color: color-mix(in srgb, var(--prinary-color),white 10%);
}

@media screen and (min-width: 48.75em)  {
    .top_header {
        display: flex;
        justify-content: space-between;
    }

    .top_header_logo {
        margin-left: 1.5em;
    }

    .top_header_nav {
        background-color: initial;
        margin: auto;
    }

    .top_header_nav li {
        display: inline-block;
    }

    .top_header_nav a {
        color: var(--prinary-color);
    }

    .top_header_nav a:hover {
        background-color: color-mix(in srgb, var(--prinary-color), white 85%);
    }

    .heroBanner_iconPlay {
        display: initial;
    }

    .heroBanner {
        background-color: var(--prinary-color);
    }

    .top_header_logo  {
        display: none;
    }
}

.heroBanner {
    text-align: center;
    background-color: #f6f6f6;
    padding: 1em;
}

.heroBanner_iconPlay {
    height: 5em;
    width: 5em;
    display: none;
}

.heroBanner_iconPlay img {
    width: 100%;
}

.heroBanner_title {
    color: var(--prinary-color);
    font-size: 1em;
    margin: 1.5em 0;
}

.heroBanner_subtitle {
    line-height: 1.5;
    font-size: 1em;
    color: color-mix(in srgb, var(--prinary-color), white 20%);
}

.heroBanner_btn {
    display: inline-block;
    padding: .9em 2.5em;
    background-color: #58c4c4;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

@media screen and (min-width: 48.75em)  {
    
    .heroBanner_iconPlay {
        display: inline-block;
    }

    .heroBanner {
        background-color: var(--prinary-color);
    }

    .heroBanner_title,.heroBanner_subtitle {
        color: white;
    }
}

@media screen and (min-width: 56.25em) {
    .heroBanner {
        background-image: url(/images/bg_topo_1198x670.jpg);
        aspect-ratio: 1198 / 670;

        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .heroBanner .maxWidth {
        margin: initial;
        margin-bottom: 4em;
        width: 75%;
    }

      .top_header_logo {
        display: initial;
    }

    .top_header_nav {
        margin: initial;
    }
}

@media screen and (min-width: 74em) {
    .heroBanner {
        background-image: url(/images/bg_topo_1600x1374.jpg);

        background-position: center top;
        background-color: var(--prinary-color);
        background-repeat: no-repeat;

        /*para a img não crescer mais dq 80vh*/
        max-height: 80vh;
        width: 100%;
    }

    .heroBanner .maxWidth {
        width: 50%;
    }

    .heroBanner_iconPlay {
        width: 7em;
        width: 7em;
    }
}

.middle-content {
    background-color: #f6f6f6;
    text-align: center;
    padding: 2em;
}

.middle-content a {
    color: inherit;
    text-decoration: none;
}

.middleContent_title {
    color: var(--prinary-color);
    text-transform: uppercase;
    font-size: 1.25em;
}

.middle-content span[class^="icon-"] {
    color: var(--prinary-color);
    font-size: 3.5em;
}

.middle-content p {
    line-height: 1.5;
}

/*
min-width: 0 --------------> col-sm
min-width: 48.75em --------> col-sm
min-width: 56.25em --------> col-md
min-width: 74em -----------> col-xl
*/

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    flex: 1 0 auto;
    width: 100%;
}

.col-sm-12 {
    width: 100%;
}

@media screen and (min-width: 48.75em) {
    .col-md-6 {
                /*width - gap*/
        width: calc(50% - 1rem);
    }
}

@media screen and (min-width: 74em) {
    .col-xl-3 {
                /*width - gap*/
        width: calc(25% - 1rem);
    }

    .col-xl-6 {
        width: calc(50% - 1rem);
    }
}

.mainContent {
    padding: 2em;
}

.mainContent p {
    line-height: 1.2;
}

.mainContent_title {
    text-transform: uppercase;
    color: var(--prinary-color);
    font-weight: normal;
    letter-spacing: .2em;
    letter-spacing: .2em;
    font-size: 1.25em;
}

.mainContent .row {
    /*para colocar o gap so na row*/
    row-gap: 4em;

    /* 
    para colocar gap so na column
    column-gap: ;

    outra forma de escrever
    gap: row colum;
    */
}

.mainContent_article {
    container: mainContent_article / inline-size;
}


@container mainContent_article (min-width: 43.75em) {

    /*não da para selecionar um container e mudar um atributo dele proprio
    
    obs:por isso criamos uma div container so para aplicar o css
    */
    .mainContent_container {
        display: flex;
        gap: 1rem;
    }

    .mainContent_title {
        margin-top: 0;
    }

    .mainContent_img img {
        max-width: 282px;
    }

    .mainContent_img {
        flex: 0 0 25%;
    }

    .mainContent_text {
        flex-grow: 1;
    }
}

.footer {
    background-color: #25303e;
    color: gray;
    text-align: center;
    padding: 2em;
}